@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');
:root {
    --primary-calor: aqua;
    --secondary-color: orange;
    --accent1-color: chocolate;
    --accent2-color: aqua;

    --heading-font: 'Arial Black';
    --paragraph-font: georgia;

    --nav-background-color: white;
    --nav-link-color: red;
    --nav-hover-link-color: aqua;
    --nav-hover-background-color: aqua;
}

body {
    max-width: 100%;
}



main h1 {
    font-family: var(--heading-font);
    background-color: aliceblue;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 47px;
}

.box {
    padding: 3px;
    background-color: azure;
    
    
}

.box img {
    height: 70px;
    
    
}



nav {
    background-color: none;
    font-size: 15px;
    display: flex;
    width: 1462px;
    height: 25px;
    
}
nav img {
    height: 30px;
}
nav a {
    display: block;
    color: var(--link-color);
    text-decoration: none;
    padding: 1px;
    
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-background-color);
    background-color: var(--nav-hover-background-color);
}

article  {
    display: block;
    background-color: aliceblue;
    position: absolute;
    opacity: 0.8;
    width: 100%;
    top: 450px;
}
article img {
    display: block;
    float: right;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

main {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
}

